body {
background-color: black;
font-family: monospace;
color: aqua;
}

h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0 auto;
    width: 650px;
  }
  
  
.green {
  color: chartreuse;
}
.pink {
  color: palevioletred;
}
.tan {
  color: tan
}